<p>player-controls works!</p>
<div class="flex justify-center space-x-4">
    <button (click)="handlePrevious()" class="btn">
      <i class="fas fa-step-backward"></i>
    </button>
    <!--
    <button (click)="handlePlayPause()" class="btn">
      @if (isPlaying()) {
      <i class="fas fa-pause"></i>
      }
      @else {
      <i class="fas fa-play"></i>
      }
    </button>-->
    <button (click)="handleNext()" class="btn">
      <i class="fas fa-step-forward"></i>
    </button>
    <button (click)="toggleMute()" class="btn">
      <i class="fas" [class]="{ 'fa-volume-mute': isMuted(), 'fa-volume-up': !isMuted() }"></i>
    </button>
</div>