<div class="w-full h-screen flex flex-col items-center justify-center p-6 bg-gray-800 text-white">
  <header class="w-full max-w-md mb-8">
    <h1 class="text-3xl font-bold text-center">Music Player</h1>
  </header>

  <app-error class="w-full max-w-m" [error]="error()" />

  <!-- Search Bar -->
  <app-music-player-filter-bar class="relative mb-4 w-full max-w-md" [(searchQuery)]="searchQuery"  />

  <!-- Current Track Info -->
  <app-track-info class="w-full max-w-md" [track]="currentTrack()" />

  <!-- Player Controls -->
  <app-player-controls class="w-full max-w-md" [numTracks]="filteredTrackLength()" 
    [(isPlaying)]="isPlaying" [(isMuted)]="isMuted" [(currentTrackIndex)]="currentTrackIndex" />

  <!-- Current Track Duration and Custom Slider -->
  <app-progress-bar class="mb-4 w-full max-w-md" [(progress)]="progress" [currentTime]="currentTime()" 
    [duration]="duration()" />

  <!-- Volume Control -->
  <app-volume-control class="relative mb-4 w-full max-w-md" [(volume)]="volume" />

  <!-- Track List -->
  <app-track-list class="h-[200px] w-full max-w-md"
    [tracks]="filteredTracks()" [(currentTrackIndex)]="currentTrackIndex" />
  <footer class="w-full max-w-md mt-4 text-center">
    <p class="text-sm text-gray-400">Made by
      <a href="https://manthanank.github.io/" class="text-blue-400">Manthan Ankolekar</a>
    </p>
  </footer>
</div>