<div class="w-full h-screen flex flex-col items-center justify-center p-6 bg-gray-800 text-white">
  <header class="w-full max-w-md mb-8">
    <h1 class="text-3xl font-bold text-center">Music Player</h1>
  </header>

  <audio #a></audio>

  <app-error class="mb-4 w-full max-w-md" [error]="error()" />

  <!-- Search Bar -->
  <app-track-filter class="relative mb-4 w-full max-w-md" [(searchQuery)]="searchQuery" />

  <!-- Current Track Info -->
  <app-track-info class="mb-4 w-full max-w-md" [track]="currentTrack()" />

  <!-- Player Controls -->
  <div class="flex justify-center space-x-4 mb-6 w-full max-w-md">
    <button (click)="handlePrevious()" class="btn">
      <i class="fas fa-step-backward"></i>
    </button>
    <button (click)="handlePlayPause()" class="btn">
      @if (isPlaying()) {
      <i class="fas fa-pause"></i>
      }
      @else {
      <i class="fas fa-play"></i>
      }
    </button>
    <button (click)="handleNext()" class="btn">
      <i class="fas fa-step-forward"></i>
    </button>
    <button (click)="toggleMute()" class="btn">
      <i class="fas" [class]="{ 'fa-volume-mute': isMuted(), 'fa-volume-up': !isMuted() }"></i>
    </button>
  </div>
  <app-player-controls class="mb-6 w-full max-w-md" [(isMuted)]="isMuted" 
    [(canPlay)]="canPlay" [(currentTrackIndex)]="currentTrackIndex"
    [numTracks]="numTracks()"
  />

  <!-- Current Track Duration and Custom Slider -->
  <app-track-duration class="mb-4 w-full max-w-md"
    [trackDuration]="trackDuration()" (updateProgress)="handleSeek($event)" />

  <!-- Volume Control -->
  <app-volume-control class="relative mb-4 w-full max-w-md" [(volume)]="volume" />

  <!-- Track List -->
  <app-track-list class="w-full max-w-md" [tracks]="filteredTracks()"
    [(currentTrackIndex)]="currentTrackIndex"
  />
  <footer class="w-full max-w-md mt-4 text-center">
    <p class="text-sm text-gray-400">Made by
      <a href="https://manthanank.github.io/" class="text-blue-400">Manthan Ankolekar</a>
    </p>
  </footer>
</div>